@font-face {
    font-family: 'Inter';
    src: url('./font/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
}

:root {
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    width: 90%;
    height: 100%;
    margin-left: 40px;
 

}


header {
    margin-bottom: 55px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    align-items: start;
    margin-left: 10px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 40px;
    margin-left: 10px;
    width: -100%;
}

.nav-links a {
    text-decoration: none;
    color:gray;
    margin-left: 10px;

}

.nav-links a:hover {
    color: rgb(218, 83, 83);
}


.main-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
    margin-bottom: 70px;
}


.hero img {
    width: 100%;
    margin-bottom: 30px;
}

.hero-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.hero-content h1 {
    font-size: 56px;
    font-weight: 800;
    line-height: 1.1;
    color: var(--very-dark-blue);
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-text p {
    color: var(--dark-grayish-blue);
    line-height: 1.6;
    margin-bottom: 30px;
}

button {
    background-color: var(--soft-red);
    color: var(--off-white);
    border: none;
    padding: 15px 35px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 4px;
    cursor: pointer;
    width: fit-content;
}

button:hover {
    background-color: var(--very-dark-blue);
}

.new-section {
    background-color: rgb(10, 10, 10);
    padding: 35px;
    width: 95%;
    height: 100%;
}

.new-section h2 {
    color: var(--soft-orange);
    font-size: 40px;
    margin-bottom: 35px;
}

.new-section article {
    margin-bottom: 30px;
}

.new-section h3 {
    color: var(--off-white);
    font-size: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

.new-section h3:hover {
    color: var(--soft-orange);
}

.new-section p {
    color: var(--grayish-blue);
    line-height: 1.6;
}

.divider {
    height: 1px;
    background-color: var(--dark-grayish-blue);
    margin: 30px 0;
}


.bottom-articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 100%;
}

.article-card {
    display: flex;
    gap: 24px;
}

.article-card img {
    width: 100px;
    height: 127px;
    object-fit: cover;
}

.article-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.number {
    font-size: 32px;
    font-weight: 700;
    color: var(--grayish-blue);
}

.article-content h3 {
    font-size: 18px;
    color: var(--very-dark-blue);
    cursor: pointer;
}

.article-content h3:hover {
    color: var(--soft-red);
}

.article-content p {
    color: var(--dark-grayish-blue);
    line-height: 1.6;
}